/* Basic styles for the window size debugger */
.wsi {
  background-color: rgba(0,0,0,0.75);
  bottom: 0.3rem;
  color: #fff;
  font: 0.8rem/1.25 sans-serif;
  padding: 0.3rem 0.5rem;
  position: fixed;
  right: 0.3rem;
  opacity: 0.3;
  z-index: 999999;
  border-radius: 2px;
  text-align: left;

  &:hover {
    opacity: 1;
  }
}

.wsi__px {}
.wsi__em {}
.wsi__bp {}
.wsi__label {}
