// Debug region alignment.
.region {
  background: #eee;
  background: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, .25);
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, .25);
}