html {
  font-size: 16px;
}

/* ------- Default BYU styling --------- */
/* colors here for now */
/* blues */
$navy: #002e5d;
$medblue: #869db5;
$lightBlue: #e0f0cc;
$xlightblue: #c3ddf9;
$brightBlue: #0057b8;

$royal: #0057b8;
$lightRoyal: lighten($royal, 25%);

/*// There are 6 grays right now..*/
$xlightgray: #f2f2f2;
$lightgray: #e5e5e5;
$lightergray: #e6e6e6;
//$medgray: #9b9b9b; // extra
$gray: #c5c5c5;
$medgray: #666;
$darkgray: #6a6a6b; // least used gray
$darkestgray: #141414; // this should be used for body & default text.

/* other colors */
$red: #b3041a;

$yellow: #fcc015;
$lightyellow: #fef2d0;

$teal: #84dcb4;
$lightteal: #e5f7ef;

$green: #66b200; // doesn't work with accessibility
$lightgreen: #e0f0cc;

body {
  font-family: "Public Sans", Arial, sans-serif;
  line-height: 23px;
  font-size: 14px;
  @media screen and (min-width: 786px) {
    font-size: 16px;
    line-height: 28px;
  }
}

a {
  color: $royal;
}

a:hover {
  color: $navy;
}

/* --- BYU Components styling --- */
byu-header .subtitle {
  font-size: 16px;
}

div[slot="actions"] {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

div[slot="actions"] a {
  color: white;
}

div[slot="actions"] a:hover {
  text-decoration: none;
  color: white;
}

byu-menu {
  line-height: 22px;
}

byu-menu a {
  color: $navy;
}

byu-menu a:hover {
  text-decoration: none;
  background-color: $lightergray;
}

byu-menu a.active {
  background-color: $lightergray;
}

byu-search div.input-group {
  display: block !important;
}

byu-search input.form-control {
  z-index: 0 !important;
  margin-bottom: 0 !important;
}

byu-search input.__byu-search-selected-input {
  border-radius: 0.9625em !important;
}

@media (max-width: 799px) {
  byu-search input.__byu-search-selected-input {
    border-radius: 0 !important;
  }
}

byu-footer-column h2 {
  color: $darkestgray !important;
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

byu-footer-column a:hover {
  text-decoration: none;
}

byu-footer-column *:not(byu-footer-action-button) {
  display: block;
  padding-bottom: 0.25em;
}

byu-footer-action-button a {
  color: white;
}

byu-footer-action-button a:hover {
  color: white;
}

byu-social-media-links a {
  background-clip: unset;
}

#block-byu-theme-main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-ringside {
  font-family: "HCo Ringside Narrow SSm", sans-serif;
}
.p-publicsans {
  font-family: "Public Sans", sans-serif;
}
.p-libreb {
  font-family: "Libre Baskerville", Georgia, serif;
}
.p-sourcesans {
  font-family: "Source Sans Pro", sans-serif;
}
.p-roboto {
  font-family: "Roboto", sans-serif;
}

[slot="site-title"] p,
[slot="site-title"] span,
[slot="site-title"] div,
[slot="site-title"] a,
#site-title p,
#site-title span,
#site-title div,
#site-title a {
  font-family: "HCo Ringside Narrow SSm", serif;
}

.subtitle.italic {
  font-style: italic;
}

[slot="actions"].royal div.block {
  margin: 0 10px;
  padding: 2px;
  background: $royal;
}

/* Disable royal_bg if mobile/tablet */
@media (max-width: 1023px) {
  .action-link {
    background: transparent !important;
  }
}

.region.region-header-actions {
  display: flex;
}

// user
span[slot="user-name"] {
  cursor: default;
}

/* -- override we need for byu footer component */
.secondary-footer [class*="column"] + [class*="column"]:last-child {
  float: none !important;
}

.h1-ringside h1,
.h2-ringside h2,
.h3-ringside h3,
.h4-ringside h4,
.h5-ringside h5 {
  font-family: "HCo Ringside Narrow SSm", Arial, sans-serif;
  span,
  a {
    font-family: "HCo Ringside Narrow SSm", Arial, sans-serif;
  }
}

.h1-sourcesans h1,
.h2-sourcesans h2,
.h3-sourcesans h3,
.h4-sourcesans h4,
.h5-sourcesans h5 {
  font-family: "Source Sans Pro", sans-serif;
  span,
  a {
    font-family: "Source Sans Pro", sans-serif;
  }
}

.h1-libreb h1,
.h2-libreb h2,
.h3-libreb h3,
.h4-libreb h4,
.h5-libreb h5 {
  font-family: "Libre Baskerville", serif;
  span,
  a {
    font-family: "Libre Baskerville", serif;
  }
}

.h1-roboto h1,
.h2-roboto h2,
.h3-roboto h3,
.h4-roboto h4,
.h5-roboto h5 {
  font-family: "Roboto", serif;
  span,
  a {
    font-family: "Roboto", serif;
  }
}

.h1-navy h1,
.h2-navy h2,
.h3-navy h3,
.h4-navy h4,
.h5-navy h5 {
  color: $navy;
  a {
    color: $navy;
  }
  a:hover {
    color: $royal;
  }
}

.h1-gray h1,
.h2-gray h2,
.h3-gray h3,
.h4-gray h4,
.h5-gray h5 {
  color: $medgray;
  a {
    color: $medgray;
  }
  a:hover {
    color: $darkgray;
  }
}

.h1-black h1,
.h2-black h2,
.h3-black h3,
.h4-black h4,
.h5-black h5 {
  color: #000;
  a {
    color: #000;
  }
  a:hover {
    color: $darkgray;
  }
}

byu-menu {
  z-index: 14;
}

@media (min-width: 1024px) {
  .hero-behind-menu {
    margin-top: -36px;
    position: relative;
    z-index: -1;
  }
}

.full-width-images .block img {
  width: 100%;
  height: auto !important;
}

.full-width-true div.main {
  max-width: 100%;
}

.full-width-false div.main {
  max-width: 1200px;
}

.main-top.custom-width {
  margin-left: auto;
  margin-right: auto;
}

.main {
  padding: 35px 30px 30px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1024px) {
    padding-top: 70px;
  }

  &.no-min-height {
    min-height: 0;
  }

  &.min-height-300 {
    min-height: 300px;
  }

  &.min-height-500 {
    min-height: 500px;
  }
}

.main-top {
  &.custom-width-1400 {
    max-width: 1400px;
  }

  &.custom-width-1200 {
    max-width: 1200px;
  }

  &.custom-width-1024 {
    max-width: 1024px;
  }

  &.custom-width-1000 {
    max-width: 1000px;
  }

  &.custom-width-992 {
    max-width: 992px;
  }

  &.custom-width-940 {
    max-width: 940px;
  }
}

.main {
  &.custom-width-1400 {
    max-width: 1400px;
  }

  &.custom-width-1200 {
    max-width: 1200px;
  }

  &.custom-width-1024 {
    max-width: 1024px;
  }

  &.custom-width-1000 {
    max-width: 1000px;
  }

  &.custom-width-992 {
    max-width: 992px;
  }

  &.custom-width-940 {
    max-width: 940px;
  }
}

.main.custom-width {
  padding: 30px 0;
}

#page-container {
  padding: 20px 0;
}

/* Remove box-shadow from menu button in Firefox, Edge, IE11 */
.mobile-menu-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ---- Footer ---- */
/*.three_four_merged .region-footer-41 {*/
/*display: none;*/
/*}*/
/* - mobile */
@media screen and (max-width: 767px) {
  byu-footer:not(normal) .two-column,
  byu-footer:not(normal) .three-column,
  byu-footer:not(normal) .four-column {
    column: 1;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .three_four_merged .region-footer-31,
  .two_three_merged .region-footer-21,
  .one_two_merged .region-footer-11 {
    width: 100%;
    padding-left: 0;
  }
}

/* large screen */
@media screen and (min-width: 1200px) {
  .three_four_merged .region-footer-31,
  .two_three_merged .region-footer-21,
  .one_two_merged .region-footer-11 {
    width: 50%;
  }
}
byu-footer-column p {
  margin: 0;
}

#wrapper.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main.sticky-footer {
  flex-grow: 1;
}

body.admin-menu-bar #wrapper.sticky-footer {
  min-height: unquote("calc(100vh - 39px)");
}

body.admin-extended-menu-bar #wrapper.sticky-footer {
  min-height: unquote("calc(100vh - 78px)");
}

/* ----------- Helpful Classess ---- */
.two-column,
.three-column,
.four-column {
  -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
  -moz-column-gap: 15px; /* Firefox */
  column-gap: 15px;
}
.two-column {
  column-count: 2;
  -webkit-column-gap: 30px; /* Chrome, Safari, Opera */
  -moz-column-gap: 30px; /* Firefox */
  column-gap: 30px;
}
.three-column {
  column-count: 3;
}
.four-column {
  column-count: 4;
}

.navy-button {
  background: $navy;
  color: #fff;
  padding: 12px 25px;
}
.medblue-button {
  background: $navy; /* change to medium blue */
  color: #fff;
  padding: 12px 25px;
}

/* Remove white strip under footer */

#drupal-live-announce {
  display: none;
}

/* Remove weird header top margin */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

/* Drupal overrides */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $darkestgray;
}

.form-control {
  color: $darkestgray;
}

.breadcrumb > .active {
  color: $darkestgray;
}

.toolbar-tray {
  position: fixed !important;
}

/* ------------- Do NOT make custom changes here - if you do they will be overridden when you update the theme.
1. Create a custom.scss file in this scss directory.
2. Edit byu2017_d7.info and find the lines where scss/byu_default.scss is included. You will see a commented out line
that will tell the theme to look for your custom.scss file.
3. Add your css
4. Clear your caches.
   ----------- */
/* ---- It is good practice to have sections in your styling, like this:  --- */
/* ------- Front ------ */
/* -- front feature custom -- */
/* ------- Misc. ------ */
