{#
/**
 * @file
 * Adaptivetheme implementation to display a one column Layout Plugin layout.
 *
 * Available variables:
 * - content: holds layout regions.
 * - attributes: layout attributes.
#}
{%- set element = html_element|default('div') -%}
<{{- element }}{{ attributes -}}>
  <div class="atl__lr">
    <div class="atl__lc lc-1">
      {{ content.col_1 }}
    </div>
  </div>
</{{ element }}>
